body {
  background:#0e0e0e;
  color:white;
  font-family:sans-serif;
  text-align:center;
}

button {
  background:#ff0080;
  padding:10px;
  border:none;
  color:white;
  font-size:18px;
  cursor:pointer;
}
